<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head.ejs %>
</head>
<body>
	<nav class="bar">
		<div id="logo"><img src="img/ritual-app-logo.png"></div>
		<% if (!login) { %> 
			<form action="/users/login" method="POST" class="nav-items">
				<div class="nav-items">Log In</div>
				<input type="text" name="email" placeholder="EMAIL" class="nav-items" id="sign-in-nav"></input>
				<input type="text" name="password" placeholder="PASSWORD" class="nav-items" id="sign-in-nav"></input>
				<button class="nav-items" id="sign-in-nav">LOGIN</button>
			</form>
			<a href="/signup" class="nav-items">
				<div class="nav-items"> Sign Up</div>
			</a>
		<% } %>

		<% if (login) { %>
			<a href="/users/" class="nav-items">EXPLORE</a>
			<a href="/logout" class="nav-items">LOG OUT</a>
		<% } %>
	</nav>

<section id="sign-up-section">
	<h2>Sign-Up</h2>
	<form action="/users" method="POST">
		<input type="text" name="firstName" placeholder="First Name"></input>
		<input type="text" name="lastName" placeholder="Last Name"></input>
		<input type="text" name="email" placeholder="email"></input>
		<input type="text" name="password" placeholder="password"></input>
		<input type="submit">
	</form>
</section>
</body>
</html>