<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head.ejs %>
	<script type="text/javascript" src="../js/scripts.js"></script>
</head>
<body>
	<header>
		<nav class="bar">
			<a href="/">
				<div id="logo"><img src="img/white-logo-2.png"></div>
			</a>
			<% if (!login) { %> 
				<form action="/users/login" method="POST" class="nav-items" id="login-form">
					<div class="nav-items">Log In</div>
					<input type="text" name="email" placeholder="EMAIL" class="nav-items"></input>
					<input type="password" name="password" placeholder="PASSWORD" class="nav-items"></input>
					<button class="nav-items" id="sign-in-nav">LOGIN</button>
				</form>
				<a href="/signup" class="nav-items">
					<div class="nav-items"> Sign Up</div>
				</a>
			<% } %>

			<% if (login) { %>
				<a href="/users/" class="nav-items">EXPLORE</a>
				<a href="/logout" class="nav-items">LOG OUT</a>
			<% } %>
		</nav>
	</header>

<section id="sign-up-section">
	<h2>Sign Up</h2>
	<form action="/users" method="POST" id="signup-form">
		<input type="text" name="firstName" placeholder="FIRST NAME"></input>
		<input type="text" name="lastName" placeholder="LAST NAME"></input>
		<input type="text" name="email" placeholder="EMAIL"></input>
		<input type="password" name="password" placeholder="PASSWORD"></input>
		<input type="text" name="userIcon" placeholder="AVATAR LINK (REQUIRED URL LINK)"></input>
		<input type="submit" id="signup-button">
	</form>
	<h5>Pro Tip...for a quick avatar link, use:<br>
	 ../img/usericons/usericon-master.jpg</h5>
</section>
</body>
</html>